# Ignore Python virtual environments
# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
*.log

# Virtual environments
.venv/
venv/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Environment files
.env

# Ignore the entire uploads folder
uploads/

# Ignore webhook debug files
webhook_debug.txt
webhook_debug_*.txt

# Ignore all .json files in uploads
uploads/*.json
