# Ignore Python virtual environments
# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
*.log

# Virtual environments
.venv/
venv/

# .gitignore
uploads/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Environment files
.env

# No pics
*.png
*.jpg
