# Ignore Python virtual environments
# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
*.log

# Virtual environments
.venv/
venv/

# Ignore everything under uploads
uploads/**

# Re-allow directories so we can traverse
!uploads/
!uploads/**/

# Keep any streamers.json anywhere under uploads
!uploads/**/streamers.json

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Environment files
.env

