{% extends "base.html" %}

{% block title %}Schedule{% endblock %}

{% block content %}
<h1>📅 League Schedule</h1>

<div style="margin-bottom: 20px; font-size: 1.2em; font-weight: bold;">
  Season: {{ season | replace('season_', '') }} &nbsp; &nbsp; Week: {{ week | replace('week_', '') }}
</div>

{% if schedule %}
<table>
    <thead>
      <tr>
        <th>Away</th>
        <th>Score</th>
        <th>Home</th>
        <th>Status</th>
        <!-- <th>Game of the Week</th> -->
      </tr>
    </thead>

    <tbody>
      {% for game in schedule %}
      <tr>
        <td>{{ game.awayName }}</td>
        <td>{{ game.awayScore }} - {{ game.homeScore }}</td>
        <td>{{ game.homeName }}</td>
        <td>
          {% if game.status == 1 %}
            Not Played
          {% elif game.status == 2 %}
            Away Won
          {% elif game.status == 3 %}
            Home Won
          {% else %}
            Unknown
          {% endif %}
        </td>

        <!-- <td>{% if game.gameOfTheWeek %}⭐{% endif %}</td> -->
      </tr>
      {% endfor %}
    </tbody>

</table>
  {% if bye_teams %}
            <h3 style="margin-top: 2rem;">BYE WEEK</h3>
            <ul style="list-style: none; padding: 0;">
                {% for team in bye_teams %}
                    <li>{{ team }}</li>
                {% endfor %}
            </ul>
        {% endif %}
{% else %}
<p>No schedule data available.</p>
{% endif %}
{% endblock %}
